{% extends '../layout.html' %}
{% load i18n %}

{% block content %}
  <div class="container mx-auto mt-20 grid gap-5 border border-gray-400 border-solid w-5/12 py-5 px-5">

      {% if process == "connect" %}
      <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

      <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}
      <h1 class="text-3xl">{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

      <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <button class="px-4 py-2 bg-black cursor-pointer hover:bg-gray-900 text-white text-base rounded" type="submit">{% trans "Continue" %}</button>
      <a class="px-6 py-2 cursor-pointer text-gray-800 bg-white text-base rounded border border-gray-800 border-solid" href="{% url 'app_auth:login' %}">Cancel</a>
    </form>
  </div>
{% endblock %}
