<!DOCTYPE html>
<html>
    <head>
        <title>Extension</title>
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" >
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://www.paypal.com/sdk/js?client-id=AURnMFnmRHVOgJGYN6GWYET8DhEv_eWhLRverpjiqXwFVZvN5eo1zQ1ws9hAC8innF938AC4rwKIsd_r&currency=USD" data-sdk-integration-source="button-factory" data-namespace="paypal"></script>
    </head>

    <style>
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
        .details-view {
            display: grid;
            grid-template-columns: .6fr 2fr;
            gap: 2rem;
        }
        .detail-sidebar {
            grid-template-columns: 1fr;
            grid-template-rows: .2fr 1fr .1fr;
            align-items: flex-start;
        }
        .user-profile .img-wrapper {
            width: 25%;
            aspect-ratio: 1;
            overflow: hidden;
            border-radius: 50%;
        }
    </style>

    <script>
        tailwind.config = {
          theme: {
            extend: {
                colors: {
                    goldColor: '#FFD700',
                }
            }
          }
        }
    </script>

    <body>
        
        <main class="grid w-screen h-screen bg-white">
            <section class="flex gap-2 flex-col p-10 w-10/12 mx-auto">
                <div class="flex justify-between p-3">
                    <h3 class="text-2xl text-grey-800">Complete Payment</h3>
                    <p class="test-lg">USD {{total_price}}</p>
                </div>
                <hr>
                <div class="flex justify-center p-3" id="paypal-button-container"></div>
                <hr>
                <a href="{% url 'manager:dashboard' %}" class="px-6 py-2 cursor-pointer text-gray-800 bg-white text-base rounded border border-gray-800 border-solid my-5 mx-auto">Cancel</a>
            </section>
        </main>

        <script>

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            paypal.Buttons({

                style: {
                    color: 'gold',
                    shape: 'rect',
                    label: 'paypal',
                    layout: 'vertical'
                },
        
                // Sets up the transaction when a payment button is clicked
        
                createOrder: (data, actions) => {    
                    return actions.order.create({    
                        purchase_units: [{    
                            amount: {
                                currency_code: 'USD',
                                value: '{{total_price}}'    
                            }    
                        }]    
                    });    
                },
        
                // Finalize the transaction after payer approval    
                onApprove: (data, actions) => {    
                    let url = "{% url 'manager:complete-payment' %}";
                    return fetch(url, {
                        method: "POST",
                        header: {
                            'content-type': 'application/json',
                            'X-CSRFToken': csrftoken
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            package_id: '{{package_id}}',
                            subscription_duration: '{{subscription_duration}}'
                        })
                    }).then(() => {
                        location.href = "{% url 'manager:dashboard' %}";
                    })
                }
        
            }).render('#paypal-button-container');
        
        </script>
    </body>
</html>