{% extends 'layout.html' %}
{% block content %}
    <div class="p-3 border border-gray-300 border-solid rounded-lg">
        <div class="grid gap-3 px-2 py-1">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} 
                        <div class="flex justify-between content-center text-normal br-sm font-600" style="border: 1px solid rgb(236, 35, 35);color: rgb(236, 35, 35); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                            <p>{{ message }}</p>
                            <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                        </div>
                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %} 
                        <div class="flex justify-between content-center text-normal br-sm font-600" style="border: 1px solid rgb(37, 141, 2930);color: rgb(37, 141, 2930); padding: .5rem 1.5rem" onclick="(function(){event.target.style.display = 'none';return false;})()">
                            <p>{{ message }}</p>
                            <i style="align-self: center;" onclick="(function(){event.target.parentNode.style.display = 'none';return false;})()" class="fa fa-close"></i>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <h3 class="text-lg text-gray-800">Available Services</h3>
            <div class="grid grid-cols-4 gap-3">
                {% for package in packages %}
                    <a href="{% url 'manager:package' package.slug %}" class="flex gap-3 justify-items-center items-center border border-gray-200 border-solid px-3 py-3 rounded">
                        <span class="text-4xl" style="border-radius: 5px;width: 80px;object-fit: cover;overflow: hidden;aspect-ratio: 1;">
                            <img src="/media/{{ package.img_url }}" alt="">
                        </span>
                        <h3 class="text-base text-gray-800">{{ package.name }}</h3>
                    </a>
                {%endfor%}
            </div>
        </div>
    </div>

{% endblock content %}